@{
    ViewData["Title"] = "Survey";
}
@model Survey
<h1><b>Dojo Survey</b></h1>
    <form asp-action ="Result" asp-controller="Home" method="post">

        <label asp-for="Name">Your Name:</label>
        <input class="u-full-width" type="text" placeholder="John Doe" asp-for="Name"><br>
        <span asp-validation-for="Name"></span>
    
        <label asp-for="Locations">Dojo Location:</label>
        <select class="u-full-width" asp-for="Locations">
            <option disabled selected> -- Select your Location-- </option>
            <option value="san jose">San Jose, Ca.</option>
            <option value="seattle">Seattle, Wa.</option>
            <option value="Los Angele">Los Angeles, Ca.</option>
            <option value="dallas">Dallas, Tx.</option>
            <option value="Tyson's Corner">Tyson's Corner, Va.</option>
            <option value="chicago">Chicago, Il.</option>
            <option value="tulsa">Tulsa, Ok.</option>
            <option value="berkeley">Berkeley, Ca.</option>
            <option value="boise">Boise, Id.</option>
            <option value="Orange County">Orange County, Ca.</option>
        </select><br>
        <span asp-validation-for="Locations"></span>

        <label asp-for="Languages">Favorite Language:</label>
        <select class="u-full-width" asp-for="Languages">
            <option disabled selected> -- Select your Favorite Language -- </option>
            <option value="java">Java</option>
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
            <option value="cplusplus">C++</option>
            <option value="csharp">C#</option>
            <option value="php">PHP</option>
            <option value="perl">Perl</option>
            <option value="swift">Swift</option>
            <option value="r">R</option>
            <option value="rust">Rust</option>
        </select><br>
        <span asp-validation-for="Languages"></span>
        <label asp-for="Comments">Comment (Optional)</label>
            <textarea class="u-full-width" placeholder="What's on you mind?" asp-for="Comments"></textarea><br>
        <span asp-validation-for="Comments"></span>
        <input class="button-primary" type="submit"  value="submit">
    </form>

           
    </div>